.skill-card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    width: 150px;
  }
  
  .skill-card h4 {
    font-size: 1rem; /* Font size for the skill name */
    margin-bottom: 0.5rem; /* Space below the skill name */
    color: #333; /* Dark text color */
  }
  
  .skill-card img {
    width: 50px; 
    height: 50px; 
    object-fit: contain; 
    margin-bottom: 0.5rem;
  }
  
  /* Optional: Add hover effect */
  .skill-card:hover {
    background-color: #e0e0e0; 
    border-color: #ccc;
  }
  