/* Container for the entire banner */
.banner {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    padding: 20px;
    box-sizing: border-box;
}
/* Container for the image */
.image-container {
    flex: 1;
    display: flex;
    justify-content: center; 
    align-items: center; 
    background: linear-gradient(225deg, var(--paleYellow) 25%, transparent 25%);
    background-size: 30px 40px;
    background-color: var(--lightGreen);
    width: 100%;
}

/* Style for the profile image */
.image-container img {
    width: 400px; 
    height: 500px; 
    object-fit: cover; 
}

/* Container for the about section */
.about-section {
    flex: 1; 
}

/* Style for headings and text in the about section */
.about-section h2 {
    margin: 0;
    font-size: 2rem;
}

.about-section span {
    font-size: 1.2rem;
}

/* Container for soft skills section */
.soft-skills {
    margin-top: 20px;
}

/* Style for the soft skills heading */
.soft-skills p {
    margin: 0;
    font-size: 1.2rem;
}


/* Style for individual soft skill cards */
.soft-skill {
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
    width: 120px;
}

/* Style for the soft skill icon */
.soft-skill-icon {
    background-color: #fff; 
    border: 1px solid #ddd;
    border-radius: 50%;
    font-size: 3rem;
    margin-bottom: 5px;
}

/* Style for the soft skill name */
.soft-skill-name {
    font-size: 1rem;
    text-align: center;
}

@media only screen and (max-width: 800px) {
    .banner {
      flex-direction: column;
    }
  }
