:root {
  --darkGreen: #2c6e49;
  --lightGreen: #4c956c;
  --paleYellow: #fefee3;
  --vibrantOrange: #d68c45;
  --white: #FFF;
}
.darkGreenColor{
  color: var(--darkGreen);
}
.lightGreenColor{
  color: var(--lightGreen);
}
.paleYellowColor{
  color: var(--paleYellow);
}
.vibrantOrangeColor{
  color: var(--vibrantOrange);
}

.darkGreenBg{
  background-color: var(--darkGreen);
}
.lightGreenBg{
  background-color: var(--lightGreen);
}
.paleYellowBg{
  background-color: var(--paleYellow);
}
.vibrantOrangeBg{
  background-color: var(--vibrantOrange);
}

body{
  padding: 0;
  margin: 0;
  min-width: 100%;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
h1, h2, h3, h4 {
  font-family: 'Open Sans', sans-serif;
}
.container-row {
  display: flex; /* Enables flexbox layout */
  flex-wrap: wrap; /* Allows items to wrap to the next line if needed */
  align-items: center; /* Aligns items vertically in the center */
  justify-content: center; /* Distributes space between items */
  box-sizing: border-box;
  gap: 1rem;
}

.container-column {
  display: flex; /* Enables flexbox layout */
  flex-direction: column; /* Aligns items vertically */
  align-items: center; /* Aligns items to the start of the container (left by default) */
  justify-content: flex-start; /* Aligns items to the start of the container (top by default) */
  padding: 1rem; /* Adds padding inside the container */
  gap: 1rem; /* Adds space between items */
  margin: 0 auto; /* Centers the container horizontally */
  box-sizing: border-box;
}

.card{
  display: flex; /* Enables Flexbox layout */
  flex-direction: column; /* Aligns items vertically */
  align-items: center; /* Centers items horizontally */
  justify-content: center; /* Centers items vertically */
  border-radius: 8px;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: 0.5rem; 
}

.card:hover {
  border: 1px solid #ccc;
  transform: scale(1.1);
}


h4 {
  font-size: 1.25rem; /* Slightly larger font size for the project name */
  margin-bottom: 0.5rem; /* Space below the project name */
  color: #333; /* Dark text color */
}

.social-links {
  display: flex;
  justify-content: center; /* Center the icons horizontally */
}

.social-links a {
  margin: 0 15px; 
  font-size: 1.5rem; 
  transition: color 0.3s ease-in-out, transform 0.3s ease-in-out; 
} 


.social-links a:hover {
  color: #1abc9c; /* Light green color on hover */
  transform: scale(1.1);
}